# Interactive Analysis

# Univariate Analysis

- It is the simplest form of analyzing data Uni means one, so in other words your data has only one variable.
- It doesn't deal with causes or relationship and it is major purpose is to describe
- It takes data, summarizes that data and finds patterns in the data

In [37]:
# library imported

from ipywidgets import interact_manual
import plotly.express as px
import seaborn as sns
import pandas as pd

In [30]:
# reading the dataset
data= px.data.gapminder()
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [31]:
# For Numerical Columns
@interact_manual
def viz(x=list(data.select_dtypes('number').columns)):
    sns.distplot(data[x],)

interactive(children=(Dropdown(description='x', options=('year', 'lifeExp', 'pop', 'gdpPercap', 'iso_num'), va…

In [32]:
# For Categorical Columns
@interact_manual
def viz(x=list(data.select_dtypes('object').columns)):
    sns.countplot(data[x])

interactive(children=(Dropdown(description='x', options=('country', 'continent', 'iso_alpha'), value='country'…

# Bivariate Analysis
- it is one the simplest form of quanitative analysis. It involves the analysis of two variables, for the purpose of determining the empirical relationship between them.
- Bivariate Analysis can be helpful in testing simple hypotheses of association.

In [33]:
# check the dataset

data.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [34]:
# method for categorical vs continous variables

@interact_manual
    
def viz(x = list(data.select_dtypes('object').columns[1:]),
        y= list(data.select_dtypes('number').columns)[1:]):
               sns.barplot(data[x], data[y])

interactive(children=(Dropdown(description='x', options=('continent', 'iso_alpha'), value='continent'), Dropdo…

In [35]:
# method for continous vs continous variables

@interact_manual
    
def viz(x = list(data.select_dtypes('number').columns),
        y= list(data.select_dtypes('number').columns)[1:]):
               sns.barplot(data[x], data[y])

interactive(children=(Dropdown(description='x', options=('year', 'lifeExp', 'pop', 'gdpPercap', 'iso_num'), va…

In [39]:
# Cross tabulation : it is a method to quantitatively analyze the relationship between multiple variables

# method for categorical vs categorical variables

@interact_manual
    
def viz(x = list(data.select_dtypes('object').columns),
        y= list(data.select_dtypes('object').columns)[1:]):
               pd.crosstab(data[x], data[y]).plot(kind = 'bar', stacked=True)

interactive(children=(Dropdown(description='x', options=('country', 'continent', 'iso_alpha'), value='country'…

# Multivariate Analysis
- It is a set of statistical models that examine patterns in multidimensional data by considering at once, several data variables. It is an expansion of biivariate data analysis, which considers only two variables in its models.

In [44]:
# reading dataset

data= px.data.tips()
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [47]:
@interact_manual
def viz(x= list(data.select_dtypes('object').columns),
        y= list(data.select_dtypes('number').columns),
        hue= list(data.select_dtypes('object').columns[1:])):
    sns.barplot(data[x],data[y], hue=data[hue])

interactive(children=(Dropdown(description='x', options=('sex', 'smoker', 'day', 'time'), value='sex'), Dropdo…

In [51]:
# adding plates into chart
@interact_manual
def viz(x= list(data.select_dtypes('object').columns),
        y= list(data.select_dtypes('number').columns),
        hue= list(data.select_dtypes('object').columns[1:]),
       palette=['copper','magma','reds']):
    sns.barplot(data[x],data[y], hue=data[hue], palette = palette)

interactive(children=(Dropdown(description='x', options=('sex', 'smoker', 'day', 'time'), value='sex'), Dropdo…